header {
    display: flex;
    font-size: 150%;
}

#high-scores {
    width: 80%;
}

#high-scores:hover {
    color: blue;
    cursor: pointer;
}

#timer {
    width: 20%;
}

.hide {
    display: none;
}