header {
    display: flex;
    font-size: 120%;
    color: olive;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("clouds-gd61577c53_1920.jpg");
}

.noBullets {
    list-style-type: none;
}

.ansBtn {
    font-size: 200%;
    margin: 10px;
}

#intro, #qa-view {
    text-align: center;
}

#introP {
    font-size: 20px;
}

#startPgTitle, #title {
    margin-top: 15vh;
    font-size: 50px;
}

#yesOrNo {
    font-size: 50px;
    color: cadetblue;
}

#start-quiz {
    font-size: 150%;
    margin: 2%;
}


#high-scores {
    width: 80%;
}

#high-scores:hover {
    color: blue;
    cursor: pointer;
}

#timer {
    width: 20%;
}

.hide {
    display: none;
}